<div class="card">
  <h3>Life if not worth living if one cannot deadlift</h3>
  <h5>-Jon Pall Sigmarsson</h5>
</div>

<div class="card-show">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, placeholder: "Email", input_html: {class: "form-input"}, required: true, autofocus: true, label: false %>
      <%= f.input :password, placeholder: "Password: minimum of 6 characters", input_html: {class: "form-input"}, required: true, label: false %>
      <%= f.input :password_confirmation, placeholder: "Confirm Password", input_html: {class: "form-input"}, required: true, label: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
</div>
<div class="card-show">
  <%= render "devise/shared/links" %>
</div>
