<p id="notice"><%= notice %></p>

<h1>Worksets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worksets.each do |workset| %>
      <tr>
        <td><%= link_to 'Show', workset %></td>
        <td><%= link_to 'Edit', edit_workset_path(workset) %></td>
        <td><%= link_to 'Destroy', workset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workset', new_workset_path %>
