
<div class="card-show">
    <%= render 'graphs/intensity' %>
</div>

<div class="card-show">
    <%= render 'graphs/volume' %>
</div>

<div class="card-show">
    <%= render 'graphs/rep_ranges' %>
</div>

<div class="card-show">
    <%= render 'meals/slides' %>
</div>

<div class="card-show">
    <%= render 'journals/index' %>
</div>
