<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="card">
  <h3>Because cardio is boring.</h3>


    <div class="form-inputs">
      <%= f.input :email, placeholder: "Email", input_html: {class: "form-input"}, autofocus: true, label: false %>
      <%= f.input :password, placeholder: "Password", input_html: {class: "form-input"}, label: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>

</div>
