
<div class="card-journal">
<%= simple_form_for @journal, url: journals_path(current_user) do |j| %>
<% if @journal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@journals.errors.count, "error") %> prohibited this entry from being saved:</h2>
    <ul>
    <% @meal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= j.input :title, placeholder: "Title",label: false %>
<%= j.input :entry, as: :trix_editor, class: "journal-entry", label: false %>
<%= j.button :submit, "Post" %>
<% end %>
</div>
